#cim {
    text-align: center;
    font-weight: bold;
    font-style: italic;

}

#cimm {
    color:white;
}

#carouselExampleIndicators {
    width: 800px;
    height: 600px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

ul {
    list-style-type:"卐 ";
    list-style-position: inside;
    font-size: 1.4em;
}


header {
    background-color:rgb(160, 0, 0);
    padding: 10px;
}

#kereszt {
    border-radius: 30px;
    background-color: white;
    padding: 5px;
}

body {
    background-image: url(images/flag.jpg);
    background-size:contain;
    background-repeat: repeat-y;
    
}

p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    
}

#hatter {
    background-color: rgba(0,0,0, 70%);
    margin: 0% 20%;
    text-align: center;
    color: white;
    border: 2px black solid;
    padding: 10px;
}

#spotify {
    display: block;
    margin-right: 10px;
    margin-bottom: 15px;
    width: 30%;
    height:352px;
    float: right;   
}

#oldaltetejegomb {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    opacity: 85%;
}

#oldaltetejegomb:hover {
    color: gray;
    opacity: 100%;
}

@media screen and (max-width:800px) {
    #carouselExampleIndicators{
        display: none;
    }

    iframe {
        display: none;
    }
}