#cim {
    text-align: center;
    font-weight: bold;
    font-style: italic;

}

#carouselExampleIndicators {
    width: 800px;
    height: 600px;
    display: block;
    margin: auto;
}

ul {
    list-style-type:"卐 ";
}

@media screen and (max-width:800px) {
    #carouselExampleIndicators{
        display: none;
    }
}